
body {
	margin: 0px;
}

#frontPageMap {
	position: relative;
	width: inherit;
	height: inherit;
}

.container {
	display: flex;
	background-color: #ffc;
	margin: 0px;
	padding: 0px;
}


.sectionLeft {
	position:relative;
	background-color: #322;
	margin: 0px;
	height: 100vh;
	width: 60vw;
	max-width: 90vw;
	min-width: 10vw;
}

.sectionRight {
	position:relative;
	background-color: #fff;
	margin: 0px;
	height: 100vh;
	width: 40vw;
	max-width: 90vw;
	min-width: 10vw;
	border-left-style:solid;
	border-left-width: 1px;
	padding: 0px;
}

.sectionToggleButton {
	display:none;
	position:fixed;
	background-color: #2a2;
	transform: rotate(90deg);
	text-align:center;
	right: -20px;
	margin: 0px;
	padding: 5px;
	top: 50vh;
	height: 20px;
	width: 60px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}

.fullSection {
	position:fixed;
	width: 100vw;
	max-width: 100vw;
}

.hiddenSection {
	display:none;
}
